@font-face {
    font-family: '1HoonGomusin Regular';
    src: url("1HoonGomusin Regular.ttf");
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
  
h1 {
    font-family: '1HoonGomusin Regular';
    color: #002FB8;
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.parallax {
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  overflow: hidden;
  scale: 1;
}
  
.avatar {
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 5px 5px 5px lightgray;
}

.container {
    text-align: center;
    color: black;
    position: fixed;
    top: 0;
    height: 100%;
    width: 75%;
    margin-left: 12.5%;
    background-color: white;
    opacity: 1;
    overflow-y: scroll;
}
  
.skills {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
  
.skills li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 139, 184, 0.3);
}
  
.links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
  
.links li {
    display: inline-block;
    margin: 5px;
}
  
.links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 184, 138, 0.3);
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.reasons {
    text-align: left;
    padding-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
}

.reasons > ul {
    padding-top: 15px;
}

.reasons > ul > li {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .container {
      width: 80%;
      margin-left: 10%;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    h2 {
      font-size: 1.2em;
    }
  }
  
