/* police coréenne */
@font-face {
    font-family: '1HoonGomusin Regular';
    src: url("1HoonGomusin Regular.ttf");
}

/* balise body */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* balise h1 */
h1 {
    font-family: '1HoonGomusin Regular';
    color: #002FB8;
    font-size: 3em;
    margin-bottom: 10px;
}

/* balise h2 */
h2 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 30px;
}

/* classe parallax (image arrière plan) */
.background {
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  overflow: hidden;
  scale: 1;
}

/* classe avatar (photo de profil) */
.avatar {
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 5px 5px 5px lightgray;
}

/* classe container (contenu de la page : bloc de la page entière) */
.container {
    text-align: center;
    color: black;
    position: fixed;
    top: 0;
    height: 100%;
    width: 75%;
    margin-left: 12.5%;
    background-color: white;
    opacity: 1;
    overflow-y: auto;
}

/* classe skills (compétences) */
.skills {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

/* balise li des skills */
.skills li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 139, 184, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

/* classe links (liens) */
.links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

/* balise li des links */
.links li {
    display: inline-block;
    margin: 5px;
}

/* balise a (liens cliquable) */
.links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 184, 138, 0.3);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.links a:hover {
    background-color: rgba(0, 184, 138, 0.6);
}

/* classe reasons (bloc de texte) */
.reasons {
    text-align: left;
    padding: 25px 15% 50px 15%;
}

/* balise ul (liste du bloc de texte) */
.reasons ul {
    padding-top: 15px;
}

/* balise li (points du bloc de texte) */
.reasons ul li {
    margin-bottom: 15px;
}

/* classe footer */
.footer {
    background-color: #d9faf2;
    padding: 10px 0 10px 0;
}

/* affichage écran < 768px */
@media (max-width: 768px) {
    .container {
      width: 94%;
      margin-left: 3%;
    }

    .reasons {
        padding-left: 5%;
        padding-right: 5%;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    h2 {
      font-size: 1.2em;
    }
}
  
/* affichage écran > 1200px */
@media (min-width: 1200px) {
    .container {
      width: 60%;
      margin-left: 20%;
    }

    .reasons {
        padding-left: 20%;
        padding-right: 20%;
    }
  
}
  
